# Report for Ratings-Results

In [44]:
import report

report.create_report_files(
    "../keys/gs-on-a-budget-firebase-adminsdk-63ws0-509fffaf5f.json",
    "ratings.xlsx",
    "pairs.xlsx",
)

In [45]:
import pandas as pd

pairs = pd.read_excel("./pairs.xlsx")
pairs

,Unnamed: 0,rotation,model_2,model_1,size,dataset,position,high_detail,n_ratings,id
0,0,"[0.9961567660501535, 0.008693328396189522, 0.0...",splats/mcmc-truck-extended-1.ksplat,splats/default-truck-extended-1.ksplat,extended,truck,"[0.58, 0.0, 0.65]",True,2,5dwojHXzFd2RzJ2ZPNtD
1,1,"[0.9961567660501535, 0.008693328396189522, 0.0...",splats/mcmc-truck-medium-1.ksplat,splats/default-truck-medium-1.ksplat,medium,truck,"[0.58, 0.0, 0.65]",False,2,BGOjoywll3sSUYo2pBwY
2,2,"[0.9961567660501535, 0.008693328396189522, 0.0...",splats/mcmc-truck-low-1.ksplat,splats/default-truck-low-1.ksplat,low,truck,"[0.58, 0.0, 0.65]",False,1,OyhrkDZsWy64SkqfZAY5
3,3,"[0.9961567660501535, 0.008693328396189522, 0.0...",splats/mcmc-truck-high-1.ksplat,splats/default-truck-high-1.ksplat,high,truck,"[0.58, 0.0, 0.65]",True,1,PqpflZDmB5tBiM15v9MQ

In [46]:
ratings = pd.read_excel("./ratings.xlsx")
ratings

,Unnamed: 0,rating_1,user_id,pair_id,rating_2,id
0,0,5,ae868375-47d2-4b8a-995b-66e8e33ebf0a,BGOjoywll3sSUYo2pBwY,5,2nRJa9SKRgUZBHy9Ti9w
1,1,4,ae868375-47d2-4b8a-995b-66e8e33ebf0a,5dwojHXzFd2RzJ2ZPNtD,3,PhbCHezTkzTl3gkwCF5U
2,2,4,ae868375-47d2-4b8a-995b-66e8e33ebf0a,5dwojHXzFd2RzJ2ZPNtD,4,YShT4GJbXiVYmuGPYfv4
3,3,3,ae868375-47d2-4b8a-995b-66e8e33ebf0a,PqpflZDmB5tBiM15v9MQ,4,hJMVI1CTbDSS4108H6Qp
4,4,5,ae868375-47d2-4b8a-995b-66e8e33ebf0a,BGOjoywll3sSUYo2pBwY,3,hsCX7T7tqPKrlJp6WCcH
5,5,4,ae868375-47d2-4b8a-995b-66e8e33ebf0a,OyhrkDZsWy64SkqfZAY5,2,yHra9FHoHYK939FWtJEc

In [49]:
ratings_count_computed = ratings.groupby("pair_id")["id"].count()
ratings_count_computed

pair_id
5dwojHXzFd2RzJ2ZPNtD    2
BGOjoywll3sSUYo2pBwY    2
OyhrkDZsWy64SkqfZAY5    1
PqpflZDmB5tBiM15v9MQ    1
Name: id, dtype: int64

In [48]:
# sanity check to see if ratings and n_ratings actually match up
for pair_id, n_ratings in ratings_count_computed.items():
    pair = pairs[pairs["id"] == pair_id]
    if pair.shape[0] != 1:
        print(f'ERROR: pair "{pair_id}" occurs "{pair.shape[0]}" times')
    db_n_ratings = pair["n_ratings"].values[0]
    if n_ratings != db_n_ratings:
        print(
            f'ERROR: pair "{pair_id}" has {n_ratings} but ratings tracker only has {db_n_ratings}'
        )